.logo {
  height: 60px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}
.siteLayoutBackground {
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2
}
.profile {
  float: right;
  margin-right: 10px;
  line-height: 50px;
  color: #666;
}
.avatar {
  margin-right: 5px;
}
