.loginHeader {
  width: 480px;
  margin-left: 450px;
  text-align: center;
  
}
.loginHeader .loginHeaderIcon {
  width: 150px;
  opacity: 0.3;
}
.loginHeader .loginHeaderTitle {
  font-size: 30px;
}

